.new-cost {
  background-color: #5a55551a;
    padding: 1rem;
    margin: 2rem auto;
    width: 70rem;
    max-width: 95%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  }
  
  .new-cost button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #000000;
    background-color: #1f2429;
    color: aliceblue;
    border-radius: 10px;
    margin-right: 3px;
  }
  
  .new-cost button:hover,
  .new-cost button:active {
    background-color: #2424241a;
    border-color: #5a55551a;
  }